.signup-main {
    width: 90vw;
    max-width: 110rem;
    margin: 2rem auto;
}

.profile-placeholder .main-circle {
    width: 8rem;
    height: 8rem;
    border: var(--border-style);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.main-circle img {
    opacity: .7;
    width: 3rem;
}

.profile-picture-container .profile-placeholder {
    position: relative;
}

.profile-placeholder .small-circle {
    width: 2rem;
    height: 2rem;
    border: var(--border-style);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 0;
    cursor: pointer;
}

.small-circle img {
    opacity: .7;
    width: 1.5rem;
}

.signup-main>button {
    margin: 0 0 4rem 0;
    background-color: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(40px);
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.signup-main>button img {
    max-width: 1.6rem;
}

.signup-main .form-container {
    max-width: 40rem;
    margin: auto;
}

.form-container h1 {
    text-align: center;
    margin: 0 0 4rem 0;
    font-size: 2.5rem;
}

.signup-form>div {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.signup-form label {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .4rem;
}

.signup-form input {
    border: var(--border-style);
    width: 100%;
    padding: 1.2rem .5rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    background-color: white;
}

.signup-form input::placeholder {
    font-weight: 500;
    opacity: .4;
}

.signup-form>button {
    width: 100%;
    padding: 1.4rem .5rem;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.signup-form .switch {
    font-size: 1.3rem;
    text-align: center;
}

.switch a {
    color: #FF8412;
    font-weight: 600;
}

.signup-form > div p{
    font-size: 1.2rem;
    margin: .2rem 0 0 ;
    color:rgb(191, 8, 8);
}

.signup-form > div p.normal-email-error,
.signup-form > div p.normal-username-error
{
    display : none;

}

input:invalid:not(:placeholder-shown):focus + p:first-of-type{
    display: initial;
}