.profile-header{
    height:20rem;
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.575) 0%, rgba(5, 5, 5, 0.185) 100%),
        url("../../assets/images/add-bg-image-min.jpg");
}

.profile-header .back-button{
    background-color: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(40px);
    border:none;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-header .back-button img{
    max-width: 1.6rem;
}

.profile-main{
    width:90vw;
    margin:auto;
}

.profile-main .profile-info{
    max-width: fit-content;
    margin:-5rem auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info > img{
    aspect-ratio: 1/1;
    width:12rem;
    object-fit:cover;
    border-radius: 50%;
    border: 5px solid #fafafa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-info h1{
    font-size: 2.5rem;
}

.profile-info p {
    font-size: 1.2rem;
    opacity: .7;
}

@media screen and (min-width:600px) {
    .created-recipes-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        column-gap: 2rem;
        justify-items: center;
    }
}